.course-search-outer-container{
    width: 100%;
    margin: auto;
    background-image: url('https://coolbackgrounds.io/images/unsplash/samuel-zeller-medium-b832fe04.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .course-search-inner-container{
        width: 60%;
        margin: auto;
        max-width: 1600px;}
}